<div class="container-fluid">
	<div class="row">
		<header class="col-sm-3 col-xs-12 sidenav">
			<div id="logo-top">
				<a href="/"> <img class="img-responsive logo" src="img/java.png"
					alt="JavaEE BAR">
				</a>
			</div>
			<div class="pending-order">
				<span class=""></span>
				
			</div>
		</header>
		<div id="main-content" class="col-sm-9 col-sm-offset-3 col-xs-12">
			<div class="order-table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Quantity</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Fries</td>
							<td>1</td>
							<td>$230</td>
						</tr>
						<tr>
							<td>Fries</td>
							<td>1</td>
							<td>$230</td>
						</tr>
						<tr>
							<td>Fries</td>
							<td>1</td>
							<td>$230</td>
						</tr>
					</tbody>
				</table>
			</div>
		
		</div>
	</div>
</div>