<div class="container-fluid">
    <div class="row">
        <header class="col-sm-3 col-xs-12 sidebar">
            <div id="logo-top">
                <a href="/"> <img class="img-responsive logo" src="img/java.png"
                    alt="JavaEE BAR">
                </a>
            </div>
            <div class="orders-list">
                <button type="button" class="btn btn-success add-order-btn"
                        data-toggle="modal"
                        data-target="#myModalHorizontal">Add order</button>                 
                <div class="list-group list-orders" ng-repeat="bill in bills">
                    <a href="#" class="list-group-item"> {{bill.tableName}} </a> 
                </div>
            </div>
        </header>
        <div id="main-content" class="col-sm-9 col-sm-offset-3 col-xs-12">
            <div class="row search-bar">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Search items">
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Qty">
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-warning add-items-btn">Add</button>
                </div>
            </div>
            <div class="order-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fries</td>
                            <td>1</td>
                            <td>$230</td>
                        </tr>
                        <tr>
                            <td>Fries</td>
                            <td>1</td>
                            <td>$230</td>
                        </tr>
                        <tr>
                            <td>Fries</td>
                            <td>1</td>
                            <td>$230</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary btn-lg" ng-click="getBills()">TOTAL: 12$</button>
        </div>

        <div class="modal fade" id="myModalHorizontal" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add order</h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <input type="text" class="form-control"
                                           placeholder="Order name" 
                                           ng-model="billName"  
                                    />
                                </div>
                            </div>
                        </form>


                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="startBill(billName)" data-dismiss="modal"> Add </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>