<div class="container-fluid">
    <div class="row">
        <header class="col-sm-3 col-xs-12 sidebar">
            <div id="logo-top">
                <img class="img-responsive logo" src="assets/img/java.png"
                alt="JavaEE BAR">
            </div>
            <div class="orders-list">
                <button type="button" class="btn btn-success add-order-btn"
                        data-toggle="modal"
                        data-target="#myModalHorizontal">Add order</button>                 
                <div class="list-group list-orders" ng-repeat="bill in bills">
                    <a class="list-group-item" ng-click="openBill(bill)"> {{bill.tableName}} </a> 
                </div>
            </div>
        </header>
    
        <div id="main-content" class="col-sm-9 col-sm-offset-3 col-xs-12">
            <!-- add items to bill inputs -->
            <div class="row search-bar" ng-if="isBillOpened()">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Search items"
                    bs-options="item as item.name for item in items"
                    ng-model="selectedItem.item"
                    bs-typeahead
                    >
                </div>
                <div class="col-sm-2">
                    <input type="number" min="1" 
                        class="form-control" placeholder="Qty"
                        ng-model="selectedItem.quantity"
                    >
                </div>
                <div class="col-sm-3">
                    <button type="button" 
                        class="btn btn-warning add-items-btn"
                        ng-click="addToOrder(selectedItem)"
                        > Add
                    </button>
                </div>
            </div>  

            <div class="order-table" ng-show="newOrderGrid.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="new-items" ng-repeat="item in newOrderGrid">
                            <th>{{item.name}}</th>
                            <th>{{item.quantity}}</th>
                            <th>{{item.price | number:2}}</th>
                            <th>{{item.quantity * item.price | number:2}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" 
                    class="btm pull-right" 
                    ng-click="submitOrder()"
                    ng-show="newOrderGrid.length > 0"
                    > Submit 
            </button>

            <div class="order-table" ng-show="previousOrdersGrid.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in previousOrdersGrid">
                            <th>{{item.name}}</th>
                            <th>{{item.quantity}}</th>
                            <th>{{item.price | number:2}}</th>
                            <th>{{item.quantity * item.price | number:2}}</th>
                        </tr>
                    </tbody>
                </table>

                <div class="col-xs-12 col-sm-10"> 
                    <span class="pull-right grand-total">Grand Total: {{getGrandTotal(previousOrdersGrid) | number:2}}  &#8364;</span>
                </div>
            </div>

        </div>

        <div class="modal fade" id="myModalHorizontal" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add order</h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <input type="text" class="form-control"
                                           placeholder="Order name" 
                                           ng-model="billName"  
                                    />
                                </div>
                            </div>
                        </form>


                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="startBill(billName)" data-dismiss="modal"> Add </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>