.toast-bottom-center {
  bottom: 60px;
  right: 0;
  width: 100%;
  left: 12%;
}

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 1px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 5px #999999;
  -webkit-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 1em;
}

#toast-container > :hover {
  -moz-box-shadow: 0 0 1px #000000;
  -webkit-box-shadow: 0 0 1px #000000;
  box-shadow: 0 0 1px #000000;
  opacity: 1;
  cursor: pointer;
}

.toast-info {
  background-color: #1d3649;
}

.toast-warning {
  background-color: #CD853F;
}

.toast-error {
  background-color: #CD5C5C;
}

/*Animations*/
.toast {
  opacity: 1 !important;
}
.toast.ng-enter {
  opacity: 0 !important;
  transition:0.5s ease all;
  transform:translateY(50px);
}
.toast.ng-enter.ng-enter-active {
  opacity: 1 !important;
  transform:translateY(0);
}
.toast.ng-leave {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.toast.ng-leave.ng-leave-active {
  opacity: 0 !important;
}