/*  .page-content {
	height: 100%;
	width: 100%;
	background-image: url("../img/bar-wallpaper.jpg");
} */
 
/* css for login page*/
.form-container {
	width: 27%;
	margin: 150px auto;
	padding: 40px;
	border: 2px ridge rgba(238, 238, 238, 0.13);
	border-radius: 5px;
	-moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	-webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	border-bottom: none;
	background-color: rgba(19, 6, 6, 0.5);
}

.form-title {
	text-align: center;
	color: #fff;
	
}

.form-content {
	margin-top: 30px;
}

/* css for order-items page */


.sidenav {
	background-color: #343434;
	color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

.logo {
	width: 50%;
}

img {
	margin: 0 auto;
}


.add-order-btn {
	width: 100%;
	margin: 30px 0;
	border: 0px;
	background-color: #ea5455;
/* 	float:left; */
}

.add-items-btn {
	background-color: #343434;
	border: 0px;
	width: 100%;
}

.sidebar-nav a {
	background-color: none;
	margin-top: 5px;
/* 	border-radius: 0px !important; */
	background-color: #fde9c9;
	border: none;
	/* border-bottom: 1px solid #333; */
}

.search-bar {
	margin-top: 20px;
}

.order-table {
	margin: 30px;
}

/* #main-content {
	position: fixed;
	top: 0;
	bottom: 0;
	background-image: url("../img/bar1.jpg");
	background-repeat: no-repeat;
} */





