<div class="page-content">
	<div class="background slide" ng-repeat="image in sliderImages" ng-show="image.visible">
		<img ng-src="{{image.src}}" style='height: 100%; width: 100%; object-fit: cover'/>
	</div>
    <div class="form-container">
        <div class="form-title">
            <h2>User Login</h2>
        </div>
        <form class="form-horizontal form-content" ng-submit="login(userCredentials)">
            <fieldset>
                <div class="form-group">
                    <div class="w">
                        <input class="form-control" id="inputUsername"
                            placeholder="Username" type="text" ng-model="userCredentials.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input class="form-control" id="inputPassword"
                            placeholder="Password" type="password" ng-model="userCredentials.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <button type="submit"
                            class="btn btn-primary col-xs-6 col-md-offset-3">Log In</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>